# this file runs /home/pi/brain-hat-button-controller/brain_hat_buttons as a service at boot time
# 
# to get it started:
# 1. permissions must be 644 for the .service file (this one)
# 2. sudo systemctl daemon-reload
# 3. sudo systemctl enable /home/pi/brain-hat-button-controller/brain_hat_buttons.service
# 
# Usage:
# sudo systemctl start | status | stop | restart brain_hat_buttons
# OR
# sudo service brain_hat_buttons start | status | stop | restart

[Unit]
Description=brain_hat_buttons listener and controller service
After=local-fs.target basic.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/nohup /usr/bin/python /home/pi/brain-hat-button-controller/brain_hat_buttons 2>&1 &

[Install]
WantedBy=basic.target