# this file runs /home/pi/brain-hat-button-controller/remote_buttons as a service at boot time
#  
# to get it started:
# 1. permissions must be 644 for the .service file (this one)
# 2. sudo systemctl daemon-reload
# 3. sudo systemctl enable /home/pi/brain-hat-button-controller/remote_buttons.service
# 
# Usage:
# sudo systemctl start | status | stop | restart remote_buttons
# OR
# sudo service remote_buttons start | status | stop | restart

[Unit]
Description=remote_buttons listener and controller service
After=local-fs.target graphical.target

[Service]
Type=idle
Environment=DISPLAY=:0
Environment=XAUTHORITY=/root/.Xauthority
User=pi
ExecStart=/usr/bin/nohup /usr/bin/python3 /home/pi/brain-hat-button-controller/remote_buttons 2>&1 &

[Install]
WantedBy=graphical.target
