# this file runs /home/pi/brain-hat-button-controller/wip/guitkinter_test.py as a service at boot time
# 
# to get it started:
# 1. permissions must be 644 for the .service file (this one)
# 2. sudo systemctl enable /home/pi/brain-hat-button-controller/wip/guitkinter_test.service
# 3. sudo systemctl daemon-reload
# 
# Usage:
# sudo systemctl start | status | stop | restart guitkinter_test
# OR
# sudo service guitkinter_test start | status | stop | restart

[Unit]
Description=gui for pi touchscreen as an interface for rpi camera
After=local-fs.target graphical.target

[Service]
Type=idle
Environment=DISPLAY=:0
Environment=XAUTHORITY=/root/.Xauthority
User=pi
ExecStart=/usr/bin/nohup /usr/bin/python3 /home/pi/brain-hat-button-controller/wip/guitkinter_test.py 2>&1 &

[Install]
WantedBy=graphical.target
